# Ignore all
*

# add specific dir and sub-dir
!/Algorithm/
!/Algorithm/**/
!/lcof/
!/lcof/**/
!/lcci
!/lcci/**/
!/newcoder
!/newcoder/**/

# add files with specific extensions
!*.cpp
!*.md
!.gitignore